.advantages__header {
  padding: 40px 30px 5px 30px;
  text-align: center;
  line-height: 26px;
}

.advantages__slogan {
  display: block;
  margin-bottom: 28px;
  font-size: 18px;
  color: #000000;
}

.advantages__intro {
  margin: 0;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;

  &--extended {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--short {
    background-color: #eeeeee;
  }
}

.advantages__text {
  width: 280px;
  padding: 40px 20px;

  text-align: center;

  &--triangle {
    padding-top: 80px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
  }

  &--gray {
    width: 250px;
    padding: 28px 35px;
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages__text--gray:last-child {
  border-bottom: none;
}

.advantages__title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  &--white {
    color: #ffffff;
  }
}

.advantages__description {
  margin: 0;
  margin-top: 14px;
}

.advantages__picture {
  height: 260px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    padding: 49px 80px;
  }

  .advantages__slogan {
    margin-bottom: 32px;
    font-size: 21px;
  }

  .advantages__item {
    flex-direction: row;

    &--extended {
      justify-content: space-between;
    }

    &--short {
      flex-wrap: wrap;
    }
  }

  .advantages__text {
    width: 170px;
    padding: 43px 43px;

    &--triangle {
      background-image: none;
    }

    &--gray {
      width: 158px;
      padding: 42px 49px;
      border-bottom: none;
    }
  }

  .advantages__title {
    margin-bottom: 12px;
    font-size: 21px;
  }

  .advantages__description {
    margin-top: 22px;
  }

  .advantages__picture {
    width: 512px;
    height: 256px;

    &--left {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    padding: 49px 300px;
  }

  .advantages__text {
    width: 281px;
    padding: 50px 59px;

    &--gray {
      width: 290px;
      padding: 42px 55px 64px;
    }
  }

  .advantages__title {
    margin-bottom: 14px;
    padding: 0 70px;

    &--white {
      padding: 0 65px;
    }
  }

  .advantages__description {
    margin-top: 20px;
  }

  .advantages__picture {
    display: flex;
    align-items: center;
    width: 800px;
  }
}
