.copyright {
  display: flex;
  justify-content: center;
  width: 140px;
}

.copyright__text {
  margin-right: 10px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

.copyright__link {
  display: block;

  &:hover .copyright__icon {
    fill: #81b3d2;
  }

  &:active .copyright__icon {
    opacity: 0.3;
    fill: #000000;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 5px;
  }

  .copyright__text {
    margin-right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-top: 8px;
  }
}
