.failure-popup {
  position: absolute;
  top: 1542px;
  z-index: 2;
  padding-bottom: 35px;
  background-color: #ffffff;
}

.failure-popup__button {
  width: 180px;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .failure-popup {
    top: 1435px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    padding-bottom: 50px;
  }

  .failure-popup__button {
    width: 270px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .failure-popup {
    top: 1395px;
  }
}
