.feedback {
  margin-bottom: 38px;
}

.feedback__header {
  padding: 38px 20px 16px;
  text-align: center;
}

.feedback__slogan {
  display: block;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback__description {
  margin: 0;
  line-height: 24px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__block-wrapper {
  padding: 0 20px;
  border-top: 1px solid #e5e5e5;
}

.feedback__block {
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

.feedback__block-title {
  padding: 20px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.feedback__form input {
  &::-webkit-input-placeholder {
    color: #000000;
  }

  &::-moz-placeholder {
    color: #000000;
  }
}

.feedback__form textarea {
  &::-webkit-input-placeholder {
    color: #000000;
  }

  &:-moz-placeholder {
    color: #000000;
  }
}

.feedback__button-wrapper {
  padding: 0 20px;
}

.feedback__warning-text {
  display: none;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 63px;
  }

  .feedback__header {
    padding: 73px 165px;
  }

  .feedback__slogan {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  .feedback__block-wrapper {
    padding: 0;
    border-top: none;

    &:nth-child(3) {
      order: -1;
      border-right: 1px solid #dbdbdb;
    }
  }

  .feedback__block {
    width: 648px;

    &--name {
      width: 267px;
      padding-left: 56px;
      text-align: left;
    }

    &--contacts {
      margin-top: 68px;
      margin-bottom: 54px;
    }

    &--impressions {
      width: 324px;
      text-align: left;
    }
  }

  .feedback__block-title {
    position: relative;
    padding: 0;
    font-size: 21px;

    &--line {
      width: 100%;
      padding: 0 125px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 125px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::before {
        left: 255px;
      }

      &::after {
        right: 255px;
      }
    }
  }

  .feedback__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    padding: 0;
  }

  .feedback__button {
    width: 324px;
  }

  .feedback__warning-text {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-bottom: 67px;
  }

  .feedback__header {
    padding: 111px 380px 58px;
  }

  .feedback__form {
    margin: 0 120px;
  }

  .feedback__block {
    width: 960px;

    &--name {
      width: 399px;
      padding-left: 80px;
    }

    &--contacts {
      margin-top: 65px;
      margin-bottom: 52px;
    }

    &--impressions {
      width: 480px;
    }
  }

  .feedback__block-title {
    &--impression {
      padding-left: 80px;
    }

    &--line {
      padding: 0 280px;

      &::before,
      &::after {
        width: 280px;
      }
    }
  }

  .feedback__button-wrapper {
    width: 960px;
  }

  .feedback__button {
    width: 480px;
  }
}
