.intro-image {
  min-height: 389px;
  text-align: center;
  background-color: #6694c4;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  &--inner-page {
    min-height: 158px;
  }
}

.intro-image__text {
  width: 280px;
  margin-top: 90px;

  &--small {
    width: 229px;
    margin-top: 52px;
  }
}

@media (min-width: $tablet-width) {
  .intro-image {
    min-height: 517px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &--inner-page {
      min-height: 291px;
    }
  }

  .intro-image__text {
    width: 460px;
    margin-top: 77px;

    &--small {
      margin-top: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro-image {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg") url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }

    &--inner-page {
      min-height: 301px;
    }
  }

  .intro-image__text--small {
    margin-top: 101px;
  }
}
