.page-header__logo {
  height: 55px;
  text-align: center;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-left: -94px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
