.photo-description {
  padding: 38px 20px 27px;
  text-align: center;
}

.photo-description__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.photo-description__text {
  margin: 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .photo-description {
    padding: 74px 165px 68px;
  }

  .photo-description__title {
    margin-bottom: 31px;
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .photo-description {
    padding: 112px 385px 70px;
  }
}
