.popup {
  display: none;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup__info {
  padding: 40px 45px 23px;
}

.popup__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.popup__text {
  margin: 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .popup__info {
    &--failure {
      padding: 50px 50px 30px;
    }

    &--success {
      padding: 50px 110px 20px;
    }
  }

  .popup__title {
    padding: 0 40px;
    font-size: 30px;
    line-height: 40px;
  }
}
