.social {
  width: 160px;
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 6px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 46px;
  height: 34px;
  padding-top: 13px;
  text-align: center;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
  }
}
